.container{
    background-color: rgb(255, 248, 248);
    margin: auto;
    width: 80%;
    height: 50vh;
    padding-top: 40px;
}
table, td, th{
    border-top: 2px solid;
    border-collapse: collapse;
    border-color: rgb(56, 54, 54);
}
td, th{
    padding: 15px;
}
table{
    width: 100%;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
caption{
    
    margin: auto;
    padding: 10px;
    width: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: brown;
    color: wheat;
    text-align: center;

}
th{
background-color: rgb(194, 89, 89);
color: white;
font-size: 25px;
}
tr:hover{
    background-color:burlywood;
}
